@media (min-width: 1140px) and (max-width:1200px) {
  .container,
  .navbar-fixed-top .container {
    width: 1090px; }

  .container .row article {
    padding: 10px;
    width: 320px;
    float: left;
    margin: 0.5em; }
    .container .row article:after {
      clear: both; }
    .container .row article.column1 {
      width: 96.5%; } }
@media (min-width: 1200px) {
  .container,
  .navbar-fixed-top .container {
    width: 1190px; }

  .container .row article {
    padding: 10px;
    width: 360px;
    float: left;
    margin: 0.5em; }
    .container .row article:after {
      clear: both; }
    .container .row article.column1 {
      width: 96.5%; }

  .art-icle {
    overflow: none; }
    .art-icle .corpse {
      height: 430px;
      overflow: auto; }

  .pictures .corpse img {
    padding-left: 2.923em; } }
