article{
  float: none;
}

.container {
  .row{
    article {
      float: none;
      width: 100%;

      header{
        .icons{
          display: none;
          visibility: hidden;
        }
      }

      &.art-icle .corpse{
        height: auto;
      }

    }
  }
}

.picturefill_wrapper{
  visibility: hidden;
}

.tweet{
  footer{
    ul{
      & > li {
        display: block;
      }
    }
  }
}