@import "constants";
@import "functions";
//===================================================================
// Fonts
//===================================================================
@font-face {
  font-family: 'EntypoRegular';
  src: url('fonts/entypo-webfont.eot');
  src: url('fonts/entypo-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/entypo-webfont.woff') format('woff'),
  url('fonts/entypo-webfont.ttf') format('truetype'),
  url('fonts/entypo-webfont.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

//===================================================================
// Mixins (functions)
//===================================================================

@mixin background-image($begin, $end){
  background-image: -moz-linear-gradient(top, $begin, $end);
  background-image: -ms-linear-gradient(top, $begin, $end);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($begin), to($end));
  background-image: -webkit-linear-gradient(top, $begin, $end);
  background-image: -o-linear-gradient(top, $begin, $end);
  background-image: linear-gradient(top, $begin, $end);
}

//===================================================================
//
//===================================================================

a{
  color: #0088cc;
  text-decoration: none;

  &:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  &:hover,
  &:active {
    outline: 0;
  }

  &:hover {
    color: #005580;
    text-decoration: underline;
  }
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $base_font_size;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
  padding-top: 4em;
}

.container,
.navbar-fixed-top .container {
  //width: 940px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }

  article {
    border: 1px solid $article_border_color;
    position: relative;

    header{
      padding: 0 0 0.4em 0;

      div{
        &.title{
          float: left;
          width: 93%;
        }
        &.icons{
          float: right;
          text-align: right;
          vertical-align: top;
          width: 7%;
          opacity: 0.8;

          &:hover{
            opacity: 1;
          }
        }
      }
      &:after{
        clear: both;
        content: "";
        display: table;
        width: 100%;
        border-bottom: 1px solid $article_border_color;
        padding: 0.1em 0;
      }

      h1{
        margin: 0.5em 0;
      }

    }

    span.expand{
      font-size: px2em(50px, $base_font_size);
    }

  }
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
}

[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -ms-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

//.collapse.in {
//  height: auto;
//}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

  &:hover,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
  }

  &:active,
  &.active {
    background-color: #cccccc \9;
  }

  &:first-child {
    *margin-left: 0;
  }

  &:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
  }

}





.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.nav {
  margin-bottom: 18px;
  margin-left: 0;
  list-style: none;
}

.nav > li > a {
  display: block;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

.navbar {
  *position: relative;
  *z-index: 2;
  margin-bottom: 18px;
  overflow: visible;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .container {
  width: auto;
}

.nav-collapse.collapse {
  height: auto;
}

.navbar {
  color: #999999;
}

.navbar .brand:hover {
  text-decoration: none;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 8px 20px 12px;
  margin-left: -20px;
  //font-size: 20px;
  font-size: px2em(20px, $base_font_size);
  font-weight: 200;
  line-height: 1;
  color: #999999;
}

.navbar .btn {
  margin-top: 5px;
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}

.navbar-fixed-top .navbar-inner {
  padding-right: 0;
  padding-left: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-fixed-top .container {
  width: 940px;
}

.navbar-fixed-top {
  top: 0;
}

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

.navbar .nav > li {
  display: block;
  float: left;
}

.navbar .nav > li > a {
  float: none;
  padding: 9px 10px 11px;
  line-height: 19px;
  color: #999999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin: 5px 5px 6px;
  line-height: 18px;
}

.navbar .btn-group {
  padding: 5px 5px 6px;
  margin: 0;
}

.navbar .nav > li > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #222222;
}

.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #2c2c2c;
  *background-color: #222222;
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  background-color: #222222;
  *background-color: #151515;
}

.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-color: #080808 \9;
}

.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}

//.in {
//  height: auto;
//}

body > footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-top: 0;
  opacity: 0.5;
  &:hover{
    opacity: 1;
    background-color: #ffffff;
  }
}

.row {
  //margin-left: -20px;
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
}

.tweet{
  header{
    img,
    .user {
      float: left;
      padding-left: px2em(8px, $base_font_size);
    }

    &:after {
      clear: both;
      display: table;
      content: "";
    }
  }

  .fullname{
    font-size: px2em(16px, $base_font_size);
  }
  .username{
    font-size: px2em(10px, $base_font_size);
    color: #999999;
  }

  .corpse{
    font-size: px2em(18px, $base_font_size);
    font-family: Georgia,"Times New Roman",serif;
    line-height: px2em(20px, $base_font_size);
    padding: px2em(6px, $base_font_size) 0;
  }

  footer{
    ul{
      border-top: 1px solid $article_border_color;
      margin: 0;
      padding: 0;

      & > li {
        display: inline;

        img{
          width: px2em(32px, $base_font_size);
          @include border-radius(4px);
          float: left;
          margin-right: 5px;
        }

        &.persons{
          a:first-child {
           padding-left: 12px;
           border-left: 1px solid $article_border_color;
          }
          a{
           padding: 11px 0;
           border: 0;
          }
          &:after {
            clear: both;
            display: table;
            content: "";
          }
        }

        a{
          float: left;
          padding: 7px 8px;
          color:#999;
          font-size: px2em(10px, $base_font_size);
          line-height: 16px;
          text-transform: uppercase;
          border-left: 1px solid $article_border_color;
          width: auto;
          cursor: default;
          &:hover{
            text-decoration: none;
          }
          strong{
            display: block;
            color: #333;
            font-size: px2em(16px, $base_font_size);
          }
          &:after {
            clear: both;
            display: table;
            content: "";
          }
        }

      }

      & > li:first-child{
        a{
          padding-left: 0;
          border-left: 0;
        }
      }
    }
  }
}

.location{
  header{
    .fullname{
      font-size: px2em(16px, $base_font_size);
    }
  }
  .corpse{
    height: 250px;
  }
}

.art-icle{
  //max-height: 250px;
  //overflow: auto;
  //overflow: none;
  font-family: Georgia, serif;

  //header{
  //  position: relative;
  //  h1{
  //    position: static;
  //  }
  //}

  //.corpse{
  //  overflow: auto;
  //}

  pre{
    //font: px2em(14px, $base_font_size) 'andale mono','lucida console',monospace;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: -hp-pre-wrap;
    white-space: pre-wrap;
    white-space: pre-line;

    .tag {
      color: #008;
    }

    .atn {
      color: #606;
    }

    .atv {
      color: #080;
    }

    .com {
      color: #800;
    }
  }

  blockquote{
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    margin: 1.5em 0 1.5em 1.5em;
    padding: .75em .5em .75em 1em;
    border-left: 0.5em solid #DDD;
  }
}

.pictures{
  .picturefill_wrapper{
    display: inline;
  }

  .corpse{
    img{
      max-width: 45%;
    }
  }
}

.storage{
  section{
    padding-top: 1em;
  }
}

.userdata{
  table{
    width: 100%;

    th, td{
      border: 1px solid #000000;
      width: 50%;
    }

  }
}

span.expand{
  font-family: 'EntypoRegular';
  cursor: pointer;
}

article.colorblind{
  .images{
    div{
      width:50%;
      float:left;

      img{
        width: 60%;
        border: 1px solid black;
      }

      &:after {
        clear: both;
        display: table;
        content: "";
      }

    }
  }

}