@import "constants";
@import "functions";

@media (min-width: 1140px) and (max-width:1200px){
  .container,
  .navbar-fixed-top .container {
    width: 1090px;
  }

  .container {
    .row{
      article {
        padding: 10px;
        width: 320px;
        float: left;
        margin: 0.5em;

        &:after {
          clear: both;
        }

        &.column1{
          width: 96.5%;
        }
      }
    }
  }
}

@media (min-width: 1200px) {

  .container,
  .navbar-fixed-top .container {
    width: 1190px;
  }

  .container {
    .row{
      article {
        padding: 10px;
        width: 360px;
        //height: 318px;
        float: left;
        margin: 0.5em;

        &:after {
          clear: both;
        }

        &.column1{
          width: 96.5%;
        }
      }
    }
  }

  .art-icle{
    //height: 450px;
    //overflow-y: auto;
    overflow: none;
    .corpse{
      height: 430px;
      overflow: auto;
    }

  }

  .pictures{
    .corpse{
      img{
        padding-left: px2em(38px, $base_font_size);
      }
    }
  }

}