body{
  font-size: 3em;
  line-height: 120%;
  word-break: break-all;
  background-color: #000000;
  color: #ffffff;
}

h1{
  line-height: 150%;
}

.container{
  width: 100%;

  .row article {
    width: auto;
    padding: 0.4em;
    margin: 0.2em;

    &.column1{
     width: auto;
    }

    &.location{
      width: 96%;
      .corpse{
        color: #000;
      }
    }

    &.adaptations{
      min-width: 80%;
    }

    &.art-icle .corpse{
      height: auto;

      .tag {
        color: #008389;
      }

      .atn {
        color: #FF00D9;
      }

      .com{
        color: #FF0000;
      }

    }

  }
}

.container .row article.column1.art-icle{
  height: auto;
}

.tweet {
  footer {
    ul > li{
      a{
        strong{
          display: inline;
          color: #adff2f;
        }
      }
    }
  }
}

body > footer {
  font-size: 0.3em;
}