@import "constants";
@import "functions";

@media only screen and (min-width: 320px) {

}

@media (max-width: 480px) {
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 767px) {
  .navbar-fixed-top {
    margin-right: -20px;
    margin-left: -20px;
  }

  .container {
    width: auto;
  }
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
  .navbar-fixed-top {
    position: static;
    margin-bottom: 18px;
  }
  .navbar-fixed-top .navbar-inner {
    padding: 5px 6%;
  }
  .navbar .container {
    width: auto;
    padding: 0;
  }
  .navbar .brand {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 0 0 -5px;
  }
  .nav-collapse {
    clear: both;
  }
  .nav-collapse .nav {
    float: none;
    margin: 0 0 9px;
  }
  .nav-collapse .nav > li {
    float: none;
  }
  .nav-collapse .nav > li > a {
    margin-bottom: 2px;
  }

  .nav-collapse .nav > li > a {
    padding: 6px 15px;
    font-weight: bold;
    color: #999999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .nav-collapse .nav > li > a:hover {
    background-color: #222222;
  }
  //.nav-collapse,
  .nav-collapse.collapse {
    height: 0;
    overflow: hidden;
  }
  .navbar .btn-navbar {
    display: block;
  }

  .container {
    //width: 100%;

    .row {
      margin-top: -10px;
      margin-left: -20px;

      article {
        margin-left: 32px;
        margin-bottom: 5px;
        margin-right: 2px;
        padding: 5px;
        //width: $container_row_article_width;
      }
    }
  }

  .tweet{
    footer{
      ul{
        & > li {
          display: inline;


          img{
            float: none;
          }

          &.persons{
            a:first-child {
              padding-left: 0;
              border:0;
            }
            a{
              padding: 0;
              border: 0;
            }
          }

          a{
            float: none;
            padding: 7px 4px;
            strong{
              display: inline-block;
            }

            &:last-child{
              float: none;
            }
          }

          &:last-child{
            display: block;
          }

        }

        & > li:first-child{
          a{
            padding-left: 0;
            border-left: 0;
          }
        }
      }
    }
  }

  .pictures{
    .corpse{
      img{
        padding-left: px2em(10px, $base_font_size);
      }
    }
  }

  .storage{
    .userform{
      form{
        label{
          display: none;
        }
        input, button{
          width: 80%;
          padding: 0.5em;
          height: 50px;
        }
      }
    }
  }

  span.expand{
    display: none;
    visibility: hidden;
  }

}