@import "constants";
@import "functions";

span.expand{
  display: inline;
  visibility: visible;
}

@media (min-width: 979px) and (max-width: 1140px) {
  .container,
  .navbar-fixed-top .container {
    width: 940px;
  }

  .container {
    .row{
      article {
        padding: 10px;
        width: 279px;
        float: left;
        margin: 0.5em;

        &:after {
          clear: both;
        }

        &.column1{
          width: 96.5%;
        }
      }
    }
  }

}

@media (min-width: 768px) and (max-width: 979px) {
  .container,
  .navbar-fixed-top .container {
    width: 724px;
  }
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
  .navbar-fixed-top {
    position: static;
  }
  .navbar-fixed-top {
    margin-bottom: 18px;
  }
  .navbar-fixed-top .navbar-inner {
    padding: 5px;
  }
  .navbar .container {
    width: auto;
    padding: 0;
  }
  .navbar .brand {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 0 0 -5px;
  }
  .nav-collapse {
    clear: both;
  }
  .nav-collapse .nav {
    float: none;
    margin: 0 0 9px;
  }
  .nav-collapse .nav > li {
    float: none;
  }
  .nav-collapse .nav > li > a {
    margin-bottom: 2px;
  }

  .nav-collapse .nav > li > a {
    padding: 6px 15px;
    font-weight: bold;
    color: #999999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .nav-collapse .nav > li > a:hover {
    background-color: #222222;
  }
  //.nav-collapse,
  .nav-collapse.collapse {
    height: 0!important;
    overflow: hidden;
  }
  .navbar .btn-navbar {
    display: block;
  }

  .container {
    .row{
      margin-left: -10px;
      padding: 0;

      article {
        margin-left: 3px;
        padding: 10px;
        width: 340px;
        min-height: 280px;
        float: left;
      }
    }
  }

  .art-icle{
    height: 280px;
    overflow-y: auto;
  }

  #pictures{
    width: 96.5%;
  }

  .pictures{
    .corpse{
      img{
        padding-left: px2em(25px, $base_font_size);
      }
    }
  }

}