.overlay{
    background-color:black;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
    opacity: 0.8;
}

.overlay div {
    opacity: 1;
    z-index: 101;
    margin: 2%;
}

#tests {
    display: block !important;
}